Source: nautilus-mailru-cloud
Section: unknown
Priority: optional
Maintainer: Leonid Stolyarov <lndstol@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://lnd-stol.github.io/nautilus-mailru-cloud
#Vcs-Git: git://git.debian.org/collab-maint/nautilus-mailru-cloud.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nautilus-mailru-cloud.git;a=summary

Package: nautilus-mailru-cloud
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Интеграция с Облаком Mail.Ru
 Плагин для файлового менеджера Nautilus (Ubuntu default), обеспечивающий интеграцию c Облаком Mail.Ru в стиле Dropbox (иконки, отражающие состояние локальных фалов, управление публичными ссылками и т.д.).
